body{
    background-color:#27ae60;
}
.content{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding:48px;
    background-color:#2ecc71;
    border-radius: 2px;
    top:-2px;
    height:calc(100% - 250px);
    color:#000;
    font-size:1.5em;
    font-family:monospace;
}
.info{
    text-align: center;
}
.xkcdcomic{
    text-align: center;
}
.cred{
    text-align: center;
    margin:0px;
    font-size:.75em;
}
.inc{
    position:absolute;
    width:100%;
    margin-top:calc(100% - 400px);
    text-align: center;
    font-size:.6em;
}