body{
    position:relative;
    background-color:#34495e;
    z-index: -10;
}
.content{
    z-index: -2;
    margin: 0 auto; left: 0; right: 0;
    position: absolute;
    max-width: 750px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding:48px;
    background-color:#1abc9c;
    border-radius: 2px;
    margin-top:-4px;
    min-height:calc(100% - 250px);
    color:#000;
    font-size:1.5em;
    font-family:monospace;
    box-shadow: 0px 0px 10px #000;
}
.info{
    text-align: center;
}
.xkcdcomic{
    position:absolute;
    max-width: 100%;
    margin: 0 auto; left: 0; right: 0;
}
.cred{
    text-align: center;
    bottom:21px;
    margin: 0 auto; left: 0; right: 0;
    font-size:.6em;
    position:absolute;
    font-weight: bolder;
}
.inc{
    position:absolute;
    bottom:5px;
    margin: 0 auto; left: 0; right: 0;
    text-align: center;
    font-size:.6em;
    font-weight: bolder;
}
.equation{
    position: relative;
    margin: 0 auto;
}
.info_block{
    margin-bottom:20px;
    height:36px;
    padding:10px;
    overflow:hidden;
}
h2{
    margin:0px;
    cursor:pointer;
}
h2:hover{
    text-decoration:underline;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #34495e;
    margin: 1em 0;
    padding: 0;
}
.container{
    position: relative;
    margin-top:10px;
    width:calc100%;
    height:256px;
    border:1px solid #000;
}
.readout{
    position:absolute;
    font-size: .7em;
    transform:translateY(-120%);
    right:0px;
    margin-top: 0px;
}
.bar{
    position: absolute;
    right:10px;
    top:10px;
    width:100px;
    height:1px;
    background-color: #000;
}
.blbl{
    font-size:12px;
    text-align:center;
    margin:0px;
}
canvas{
    cursor:crosshair;
    width:100%;
    height:100%:
}
.nosel{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}